[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
sagemaker = ">=2.0.0<3.0.0"
"sagemaker[local]" = "*"

[dev-packages]

[requires]
python_version = "3.11"
