[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dagster = "*"
dagster-aws = "*"
dagster-dbt = "*"
dbt-duckdb = "*"
dagster-webserver = "*"
dagster-embedded-elt = "*"
dlt = {extras = ["duckdb"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
